{% extends "base.html" %}
{% block title %}
  Cryto Currency
{% endblock title %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center">
    <h1>
      <b>What is Crypto Currency?</b>
    </h1>
    <br>
  </div>
  <p class="text-center">
    Cryptocurrencies are digital money work as a medium of exchange just like normal currency. Bitcoin is the first cryptocurrency. As its name suggests, it’s created, maintained, and stored using cryptography. A cryptocurrency is secure and does not involve any central authority to perform a transaction. American cryptographer David Chaum developed anonymous cryptographic money and after that, considerable efforts made in that direction. The technical architecture of cryptocurrencies was created by Satoshi Nakamoto, a pseudonymous person or group of persons.
  </p>
  <br>
  <div class="text-center">
    <h3>
      <b>Highlights</b>
    </h3>
  </div>
  <br>
  <div class="text-center">
    <div class="list-group">
      <a class="list-group-item list-group-item-action list-group-item-light">Decentralized nature</a><a class="list-group-item list-group-item-action list-group-item-light">Eliminate central authority like governments and banks</a><a class="list-group-item list-group-item-action list-group-item-light">Transactions can be performed directly via public/private keys</a><a class="list-group-item list-group-item-action list-group-item-light">Can’t be removed or altered</a><a class="list-group-item list-group-item-action list-group-item-light">All transactions are cryptographically secured (hash functions)</a>
    </div>
    <br>
  </div>
  <p class="text-center">
    It has been making headlines worldwide since its launch and people are still skeptical about its use in day-to-day transactions.
  </p>
  <br>
  <div class="text-center">
    <h3>
      <b>Some challenges in adoption</b>
    </h3>
  </div>
  <br>
  <div class="text-center">
    <div class="list-group">
      <a class="list-group-item list-group-item-action list-group-item-light">Use for illegal activities</a><a class="list-group-item list-group-item-action list-group-item-light">Vulnerabilities of the underlying platform</a><a class="list-group-item list-group-item-action list-group-item-light">Exchange rate instability</a><a class="list-group-item list-group-item-action list-group-item-light">Lack of knowledge</a><a class="list-group-item list-group-item-action list-group-item-light">High infrastructure and transaction cost</a>
    </div>
    <br>
  </div>
  <p class="text-center">
    There are a number of cryptocurrencies in the market in either evolving or dying phase.All transactions are represented by ledger entries into the system and are managed by a community of miners.
  </p>
  <br>
{% endblock content %}
